.img{border-radius:20px;
	border:solid;
	width:770px;
}
.first
{ height:200px;
  width:100%;
  background:green;
  border:solid;
}
.info
{ height:900px;
  width:50%;
  border:groove;
  font-family:georgia;
  margin-left:25%;
  background:rgba(255,99,71,0.5);
}
