.img{
	padding-left:40%;
	height:70px;
	font-family:helvetica;
	font-size:40px;
}
.myslides{
	height:300px;
	width:100%;
	border:20px;
	border:solid;
	margin-top:1.5%;
}

.first
{  margin-left:17%;
   margin-top:2.5%;
   height:300px;
   width:50%;
   background:white;
   border-radius:20px;   
   border:solid;
   font-family:arial verdana;
   font-size:1.5em;
   padding:100px;
}
.info{
	margin-left:10%;
	border:solid;
	height:650px;
	width:1100px;
	background:rgba(255,99,71,0.5);
	border-radius:20px;
	font-family:georgia;
	
}