*{
	margin:0;
	padding:0;
}
body{
	background-color:#F3ECEB;
}
#header
{
	background-color:#3c3b5c;
	height:140px;
	width:100%;
	background-position:cover;
	
	position:fixed;
}
.logos{
	height:100px;
	width:100px;
	position:absolute;
	padding-left:10px;
	padding-top:20px;
	
}
.text h3{
	padding-left:130px;
	padding-top:50px;
	color:white;
}
p{
	color:white;
	padding-left:130px;
	padding-bottom:20px;
}
#search{
	margin-left:430px;
	position:fixed;
	margin-top:80px;
}

.but{
	background-color:#3c3b5c;
	font-size: 16px;
    border: none;
    display:inline-block;
	color:white;
	
}
.button {
	margin-left:800px;
	margin-top:95px;
	position:fixed;
	font-size: 16px;
    border: none;
    background-color:#3c3b5c;
	color:white;
}
 .i{
	margin-left:795px;
	margin-top:15px;
	position:fixed;
}
.location{
	margin-left:905px;
	margin-top:20px;
	position:fixed;
}
.buttons{
	margin-left:917px;
	margin-top:95px;
	position:fixed;
	font-size: 16px;
    border: none;
	background-color:#3c3b5c;
	color:white;
}
.login{
	margin-left:1200px;
	margin-top:5px;
	position:fixed;
}
.buttonss{
	margin-left:1195px;
	margin-top:75px;
	position:fixed;
	font-size: 16px;
    border: none;
	background-color:#3c3b5c;
	color:white;
	
}

#middle{
	
	
	margin-left:150px;
	margin-top:0px;
	background-color:white;
	height:400px;
	width:600px;
	padding-left:100px;
	padding-top:10px;
	background-color:black;
	color:grey;
}

.emailBox,.messageBox{ margin-left:700px;
						
}
.news{ border:ridge;
		width:400px;
		height:200px;
		
}
#pic{
	background-color:white;
	height:250px;
	margin-top:200px;
	
	
	
}
.img{
	margin-left:150px;
	
}
.img1{
	margin-left:250px;
	
}

.img2{
	
	margin-left:290px;
}

.verified{
	color:black;

}
.verifieds{
	color:black;
	margin-left:410px;
	margin-top:-35px;

}
.verifiedss{
	color:black;
	margin-left:880px;
margin-top:-95px;
}
.h{
	margin-left:80px;
}
.h1{
	margin-left:500px;
	margin-top:-40px;
}
.h2{
	margin-left:980px;
	margin-top:-5px;
}

#footer
{
background-color:#3c3b5c;
height:300px;
background-position:cover;
padding-top:10px;
padding-left:600px;

}
#footer h4
{ color:white;
padding-top:50px;
}
.list
{ 
font-size:16px;
color:white;
padding-top:15px;
display:block;


}
.ap{       
    
	color:white;
	margin-left:400px;
	margin-top:-200px;
	display:inline-block;
			
			
}
.ap{
	color:white;
	margin-left:310px;
	padding-top:180px;
	position:absolute;
}
.app{
	 height:50px;
	width:100px;
	margin-left:440px;
	position:absolute;
	padding-top:0px;
}
.apps{
	 height:50px;
	width:100px;
	padding-left:550px;
	position:absolute;
}
.logo{ 
	
	display:inline;
	
	margin-left:-450px;
	margin-top:-100px;
	position:absolute;
	
	
}
.house{ 
color:white;
margin-left:-570px;
margin-top:-30px;



}